aiofiles
configobj
opencv-contrib-python
smbus
imutils
picamera[array]
tornado
cython
spidev==3.0
scikit-learn
scikit-image
filterpy
docopt
pyusb
pillow
pandas
navio2
matplotlib
tflite_runtime-1.14.0-cp35-cp35m-linux_armv7l.whl
